*.db

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# misc
*.DS_Store
*xcuserdata
*project.xcworkspace
*xcodebuild

build/msw/Debug/
build/msw/Release/
build/msw/debug.log
build/msw/ipch/
third-party/cef/msw/Debug/lib/
third-party/cef/msw/Release/lib/
*.vcxproj.user
*.sdf
*.opensdf
*.suo


# libevent configure remnants
third-party/libevent/.deps/
third-party/libevent/Makefile
third-party/libevent/config.h
third-party/libevent/config.log
third-party/libevent/config.status
third-party/libevent/include/Makefile
third-party/libevent/include/event2/event-config.h
third-party/libevent/libevent.pc
third-party/libevent/libevent_openssl.pc
third-party/libevent/libevent_pthreads.pc
third-party/libevent/libtool
third-party/libevent/sample/Makefile
third-party/libevent/stamp-h1
third-party/libevent/test/.deps/
third-party/libevent/test/Makefile

# sqlcipher
third-party/sqlcipher/.target_source
third-party/sqlcipher/Makefile
third-party/sqlcipher/config.h
third-party/sqlcipher/config.log
third-party/sqlcipher/config.status
third-party/sqlcipher/keywordhash.h
third-party/sqlcipher/lemon
third-party/sqlcipher/lempar.c
third-party/sqlcipher/libtool
third-party/sqlcipher/mkkeywordhash
third-party/sqlcipher/opcodes.c
third-party/sqlcipher/opcodes.h
third-party/sqlcipher/parse.c
third-party/sqlcipher/parse.h
third-party/sqlcipher/parse.h.temp
third-party/sqlcipher/parse.out
third-party/sqlcipher/parse.y
third-party/sqlcipher/sqlite3.c
third-party/sqlcipher/sqlite3.h
third-party/sqlcipher/sqlite3.pc
third-party/sqlcipher/tsrc/

third-party/sqlcipher/lemon.exe
third-party/sqlcipher/lemon.obj
third-party/sqlcipher/libsqlite3.lib
third-party/sqlcipher/mkkeywordhash.exe
third-party/sqlcipher/mkkeywordhash.obj
third-party/sqlcipher/vc100.pdb

# openssl
third-party/openssl/MINFO
third-party/openssl/Makefile.bak
third-party/openssl/NUL
third-party/openssl/crypto/buildinf.h
third-party/openssl/crypto/opensslconf.h.bak
third-party/openssl/inc32/
third-party/openssl/ms/bcb.mak
third-party/openssl/ms/libeay32.def
third-party/openssl/ms/nt.mak
third-party/openssl/ms/ntdll.mak
third-party/openssl/ms/ssleay32.def
third-party/openssl/ms/version32.rc
third-party/openssl/out32/
third-party/openssl/tmp32/

# jansson
.deps
third-party/jansson/Makefile
third-party/jansson/config.h
third-party/jansson/config.log
third-party/jansson/config.status
third-party/jansson/doc/Makefile
third-party/jansson/jansson.pc
third-party/jansson/libtool
third-party/jansson/src/Makefile
third-party/jansson/stamp-h1
third-party/jansson/test/Makefile
third-party/jansson/test/bin/Makefile
third-party/jansson/test/suites/Makefile
third-party/jansson/test/suites/api/Makefile
third-party/jansson/src/jansson_config.h
